.find {
  margin-top: 50px;
  background-color: #d9e8f7;
  margin-bottom: 30px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin: 0 50px;
  border-radius: 10px;
}
