.job-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f6f1f1;
  margin: 20px 15px;
  border-radius: 10px;

  padding: 10px;
  box-shadow: 11px 11px 27px -11px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 11px 11px 27px -11px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 11px 11px 27px -11px rgba(0, 0, 0, 0.5);
}

.upper {
  display: flex;
  gap: 70%;
  align-items: center;
}
.upper p {
  display: flex;
  align-items: center;
}
ul {
  list-style: none;
  margin-left: -30px;
}
.card-container {
  display: flex;
  overflow-x: auto;
  gap: 30px;
  padding: 10px;
  padding-left: 10;
  background-color: #afd3e2;
}
.card-container::-webkit-scrollbar {
  display: none;
}

.date {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 10px;
  font-size: 12px;
  font-weight: 400;
  color: grey;
}

.job {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.title {
  font-weight: 700;
}
.experience ul {
  display: flex;
  gap: 55px;
}

.experience ul li {
  color: grey;
  font-weight: 500;
  align-items: center;
  font-size: 14px;
}

.experience ul li svg {
  font-size: 8px;
  padding-right: 5px;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.button-container button {
  height: 30px;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
}
