.job-search-container {
  display: flex;
  gap: 100px;
  padding: 10px;
  background-color: #c4dfdf;
  margin: 20px;
}

.job-search-container h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 18%;
}

.span {
  color: rgb(123, 122, 122);
  padding-left: 10px;
  font-weight: 500;
}

form {
  padding: 10px;
  display: flex;
}
input {
  width: 500px;
  height: 40px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.icon {
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.job-search-container .icon svg {
  color: black;
  font-size: 30px;
}
