.job-search-container {
  display: flex;
  gap: 100px;
  padding: 10px;
  /* background-color: var(--third); */
  background-color: white;
  border: 1px solid white;
  border-bottom-color: rgb(216, 212, 212);
  margin-top: 70px;
  margin-right: 15px;
  margin-left: 15px;
  box-shadow: 11px 11px 27px -11px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 11px 11px 27px -11px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 11px 11px 27px -11px rgba(0, 0, 0, 0.2);
}

.job-search-container h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 18%;
}

.span {
  color: rgb(123, 122, 122);
  padding-left: 10px;
  font-weight: 500;
}

form {
  padding: 10px;
  display: flex;
}
input {
  width: 500px;
  height: 40px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-left: 15px;
  font-size: 16px;
}

.icon {
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.job-search-container .icon svg {
  color: black;
  font-size: 30px;
}
